.controllers {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  background-color: #e7e7e7;

}
.name{
  font-weight: bold !important;
  font-size: 0.8rem !important;
}
.upperBox{
  height: 16rem !important;
}
.individualMap
{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px;
}
.vehicle{
  margin-top: 10px;
  width: 60px;
}
.head-img-info{
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.trip-divi{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.pro{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.address{
  font-size: 0.9rem;
}

.zoom-control {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
}

.zoom-toggle {
  background-color: rgb(11, 11, 11);
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s;
  height: 2rem;
}
.speed-toggle {
  background-color: rgb(11, 11, 11);
  color: white;
  border: none;
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s;
  height: 2rem;
  margin-right: 30px;
}

.zoom-toggle:hover {
  background-color: rgb(11, 11, 11);
}

.zoom-slider {
  position: absolute;
  top: -151px;
  left: 81%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 9rem;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.slider {
  transform: rotate(-90deg); /* Rotate the slider to make it vertical */
  width: 150px; /* Height of the slider in rotated state */
  appearance: none; /* Removes default styles */
  background: #ddd;
  height: 8px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(11, 11, 11);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.slider::-webkit-slider-thumb:hover {
  background: rgb(11, 11, 11);
}
.info-stops{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/* .divide{
  display: flex;
  flex-direction: row;
  gap: 15px;
}*/

.bolder{
  font-weight: 600;
  width: auto;
  font-size: 1rem !important;
}
.lighter{
  font-weight: 500;
  font-size: 1rem !important;
}

.custom-select .form-select {
  height: 35px !important; /* Adjust the height to your desired value */
}

.custom-select .form-select option {
  padding: 5px 10px !important; /* Adjust padding to reduce the size of each option */
}

.infoNav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #e2dbdb;
  border-radius: 6px;
  margin-top: 10px;
}
.fixedWidth{
  width: 10rem !important;
}






.map-container {
  position: relative;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  border: 2px solid gray;
}

@media (max-width: 768px) {
  .map-container {
    height: 300px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .map-container {
    height: 250px; /* Further adjustment for very small screens */
  }
}
