#group-select, #user-select{
  min-width: 14rem !important;
}

.fiterDevices{
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-left: 11% !important;
  margin-right: 10px!important;
}

.particularFilter{
  min-width: 14rem !important;
}
.refresh {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 15px !important;
}
.refreshIcon
{
  margin-bottom: 7px !important;
}
