.button-all-filter {
    background-color: white;
    color: #0dcaf0;
    border: solid 2px #0dcaf0;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 35px;
}

.button-all-filter:hover,
.button-all-filter.active {
    background-color: #0dcaf0;
    color: white;
    border: solid 2px #0dcaf0;
}

.button-pending-filter {
    background-color: white;
    color: #dc3545;
    border: solid 2px #dc3545;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 35px;
}

.button-pending-filter:hover,
.button-pending-filter.active {
    background-color: #dc3545;
    color: white;
    border: solid 2px #dc3545;
}

.button-answered-filter {
    background-color: white;
    color: #ffc107;
    border: solid 2px #ffc107;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 35px;
}

.button-answered-filter:hover,
.button-answered-filter.active {
    background-color: #ffc107;
    color: white;
    border: solid 2px #ffc107;
}

.button-closed-filter {
    background-color: white;
    color: #198754;
    border: solid 2px #198754;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 35px;
}

.button-closed-filter:hover,
.button-closed-filter.active {
    background-color: #198754;
    color: white;
    border: solid 2px #198754;
}

.back-hover:hover {
    color: #0a2d63;
    transition: background-color ease;
    text-decoration: underline;
}

.add {
    background-color: #0a2d63;
    color: white;
}

.add:hover {
    background-color: #020d1c;
    color: white;
}

.goBack {
    font-weight: 600;
}

.goBack:hover {
    color: #0a2d63;
    text-decoration: underline;
}